.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arrow-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-group {
  justify-content: center;
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}

.input-group select {
  margin-left: .5rem;
  border: 1px solid #333;
  border-radius: .3em;
  background-color: white;
}

.currencyRow {
  margin-top: 20px;
  margin-bottom: 20px;
}

